{% extends "base.jinja2" %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1 id="main">Hi {{ name }}</h1>
            {% for bank in banks %}
                {{ bank.name }}<br>
                {{ bank.endpoint }}<br>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
